In [1]:
import pandas as pd

In [3]:
tb = pd.read_csv("TYU07.csv")

In [4]:
tb.head()

,Unnamed: 0,Curso,Turno,Ensino médio,Opinião,Renda,Nota ENEM,IAA
0,1,Mecânica,Integral,Maior parte em particular,Insatisfeito,2.96,944,7.117
1,2,Química,Diurno,Somente em pública,Satisfeito,1.16,568,5.051
2,3,Mecânica,Integral,Maior parte em particular,Insatisfeito,2.59,679,5.934
3,4,Computação,Noturno,Somente em pública,Muito satisfeito,1.04,361,3.895
4,5,Produção,Noturno,Somente em pública,Indiferente,1.32,613,5.383

In [5]:
tb.head()

,Unnamed: 0,Curso,Turno,Ensino médio,Opinião,Renda,Nota ENEM,IAA
0,1,Mecânica,Integral,Maior parte em particular,Insatisfeito,2.96,944,7.117
1,2,Química,Diurno,Somente em pública,Satisfeito,1.16,568,5.051
2,3,Mecânica,Integral,Maior parte em particular,Insatisfeito,2.59,679,5.934
3,4,Computação,Noturno,Somente em pública,Muito satisfeito,1.04,361,3.895
4,5,Produção,Noturno,Somente em pública,Indiferente,1.32,613,5.383